<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    {{template "header.html" .}}
</head>

<style>
    table{

        table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
    }
    td{
        width:100%;
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
    }
</style>

<body>

<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">订单管理</a>
        <a href="">订单流水</a>
        <a>
          <cite>流水列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>

<div class="x-body">

    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="开始日" name="start" id="start">
            <input class="layui-input" placeholder="截止日" name="end" id="end">
            <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach" style="margin-top: -3px;"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>

    <xblock>

        <button class="layui-btn" onclick="x_admin_show('上传流水','{{urlfor "OrderController.FormAddOrderFlow"}}')"><i class="layui-icon"></i>上传流水</button>
        <button class="layui-btn layui-btn-danger" onclick="deleteAllOrderFlow()"><i class="layui-icon layui-icon-delete"></i>批量删除</button>

        <span class="x-right" style="line-height:40px">共有数据： 条</span>
    </xblock>

    <table class="layui-table table-layout">
        <thead>
        <tr>
            <th width="10">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>交易时间</th>
            <th>公众账号ID</th>
            <th>商户号</th>
            <th>特约商户号</th>
            <th>设备号</th>
            <th>微信订单号</th>
            <th>商户订单号</th>
            <th>用户标识</th>
            <th>交易类型</th>
            <th>交易状态</th>
            <th>付款银行</th>
            <th>货币种类</th>
            <th>应结订单金额</th>
            <th>代金券金额</th>
            <th>微信退款单号</th>
            <th>商户退款单号</th>
            <th>退款金额</th>
            <th>充值券退款金额</th>
            <th>退款类型</th>
            <th>退款状态</th>
            <th>商品名称</th>
            <th>商户数据包</th>
            <th>手续费</th>
            <th>费率</th>
            <th>订单金额</th>
            <th>申请退款金额</th>
            <th>费率备注</th>
        </thead>
        <tbody>

        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id=''><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>2018-04-01 16:45:57</td>
            <td>wxf412b15c6a7e15e7</td>
            <td>1274859001</td>
            <td>1487180912</td>
            <td title="4200000051201804010000276957">4200000051201804010000276957</td>
            <td>7910612818001152183026906106</td>
            <td>oDa-Njq8fZeC7_aMO2hoZHDcPSVY</td>
            <td>MICROPAY</td>
            <td>SUCCESS</td>
            <td>PSBC_DEBIT</td>
            <td>CNY</td>
            <td>17.00</td>
            <td>0.00</td>
            <td>0</td>
            <td>0</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>111</td>
            <td>111</td>
            <td>宏达店 店内购物</td>
            <td>0.00000</td>
            <td>0.00%</td>
            <td>17.00</td>
            <td>111</td>
            <td>0.00</td>
            <td>111</td>
            <td>111</td>


        </tr>

        </tbody>
    </table>

    <div id="pageDiv"></div>

</div>
<script>
    layui.use(['form'], function(){
        form = layui.form;
    });

    // layui.use('table', function(){
    //     var table = layui.table;
    // });

    var urlDeleteRole = '{{urlfor "SysRoleController.DeleteOrderFlow"}}';

    // 批量删除
    function deleteAllSysRole()
    {
        var idArr = [];
        $(".layui-form-checked").each(function () {
            var currDataId = $(this).attr("data-id");
            if ("undefined" != typeof(currDataId)){
                idArr.push(currDataId)
            }
        });

        if(!idArr.length){
            layer.msg("未选中记录",{icon:1,time:1000});
            return
        }

        layer.confirm('确认要执行操作吗？',{btn:['确定','取消']},function(index){
            $.ajax({
                url: decodeURI(urlDeleteRole),
                data: {"role_ids":idArr.join()},
                type: "get",
                dataType: "json",
                success: function (data) {
                    var messge = "网络繁忙...";
                    if(data.Message) {
                        messge = data.Message;
                    }

                    layer.msg(messge,{icon:1,time:1000},function () {
                        if(data.Code > 0){
                            window.location.href=data.Data;
                        }
                    });
                }
            });
            return false;
        });
    }

    // 批量修改状态
    function modifyAllRoleStatus(status)
    {
        var idArr = [];
        $(".layui-form-checked").each(function () {
            var currDataId = $(this).attr("data-id");
            if ("undefined" != typeof(currDataId)){
                idArr.push(currDataId)
            }
        });

        if(!idArr.length){
            layer.msg("未选中记录",{icon:1,time:1000});
            return
        }

        layer.confirm('确认要执行操作吗？',{btn:['确定','取消']},function(index){
            $.ajax({
                url: decodeURI(urlModifyRoleStatus),
                data: {"role_ids":idArr.join(),"role_status":status},
                type: "get",
                dataType: "json",
                success: function (data) {
                    var messge = "网络繁忙...";
                    if(data.Message) {
                        messge = data.Message;
                    }

                    layer.msg(messge,{icon:1,time:1000},function () {
                        if(data.Code > 0){
                            window.location.href=data.Data;
                        }
                    });
                }
            });
            return false;
        });
    }

    // 单条修改状态
    function modifySysRoleStatus(obj,id,status)
    {
        layer.confirm('确认要执行操作吗？',{btn:['确定','取消']},function(index){
            $.ajax({
                url: decodeURI(urlModifyRoleStatus),
                data: {"role_ids":id,"role_status":status},
                type: "get",
                dataType: "json",
                success: function (data) {
                    var messge = "网络繁忙...";
                    if(data.Message) {
                        messge = data.Message;
                    }

                    layer.msg(messge,{icon:1,time:1000},function () {
                        if(data.Code > 0){
                            window.location.href=data.Data;
                        }
                    });
                }
            });
            return false;
        });
    }

    // 单条删除
    function deleteSysRole(obj,id)
    {
        layer.confirm('确认要执行操作吗？',{btn:['确定','取消']},function(index){
            $.ajax({
                url: decodeURI(urlDeleteRole),
                data: {"role_ids":id},
                type: "get",
                dataType: "json",
                success: function (data) {
                    var messge = "网络繁忙...";
                    if(data.Message) {
                        messge = data.Message;
                    }

                    layer.msg(messge,{icon:1,time:1000},function () {
                        if(data.Code > 0){
                            window.location.href=data.Data;
                        }
                    });
                }
            });
            return false;
        });
    }


    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'pageDiv' //注意，这里的 test1 是 ID，不用加 # 号
            , count: "{{.RoleCount}}" //数据总数，从服务端得到
            , limit: 10 //每页显示的条数
            ,curr: "{{.PageNum}}"
            ,theme:"#c00"
            ,layout:['prev','page','next','skip']
            , jump: function (obj, first) {
                //obj包含了当前分页的所有参数，比如：
                //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                //console.log(obj.limit); //得到每页显示的条数

                //首次不执行
                if (!first) {
                    window.location.href= "/sys_role/list_sysrole?page_num="+obj.curr+""
                }
            }
        });
    });
</script>

</body>

</html>